<div class="row content">
  <div class="col-2"></div>
  <div class="col-8">
    <table class="my-5" id='game-board'>
      <tr>
        <td class="text-center text-secondary pr-2">8</td>
        <td class="bg-info cell black-rook" height="70" width="70" id="8a"></td>
        <td class="bg-secondary cell black-horse" height="70" width="70" id="8b"></td>
        <td class="bg-info cell black-bishop" height="70" width="70" id="8c"></td>
        <td class="bg-secondary cell black-queen" height="70" width="70" id="8d"></td>
        <td class="bg-info cell black-king" height="70" width="70" id="8e"></td>
        <td class="bg-secondary cell black-bishop" height="70" width="70" id="8f"></td>
        <td class="bg-info cell black-horse" height="70" width="70" id="8g"></td>
        <td class="bg-secondary cell black-rook" height="70" width="70" id="8h"></td>
      </tr>

      <tr>
        <td class="text-center text-secondary pr-2">7</td>
        <td class="bg-secondary cell black-pawn" height="70" width="70" id="7a"></td>
        <td class="bg-info cell black-pawn" height="70" width="70" id="7b"></td>
        <td class="bg-secondary cell black-pawn" height="70" width="70" id="7c"></td>
        <td class="bg-info cell black-pawn" height="70" width="70" id="7d"></td>
        <td class="bg-secondary cell black-pawn" height="70" width="70" id="7e"></td>
        <td class="bg-info cell black-pawn" height="70" width="70" id="7f"></td>
        <td class="bg-secondary cell black-pawn" height="70" width="70" id="7g"></td>
        <td class="bg-info cell black-pawn" height="70" width="70" id="7h"></td>
      </tr>

      <tr>
        <td class="text-center text-secondary pr-2">6</td>
        <td class="bg-info cell" height="70" width="70" id="6a"></td>
        <td class="bg-secondary cell" height="70" width="70" id="6b"></td>
        <td class="bg-info cell" height="70" width="70" id="6c"></td>
        <td class="bg-secondary cell" height="70" width="70" id="6d"></td>
        <td class="bg-info cell" height="70" width="70" id="6e"></td>
        <td class="bg-secondary cell" height="70" width="70" id="6f"></td>
        <td class="bg-info cell" height="70" width="70" id="6g"></td>
        <td class="bg-secondary cell" height="70" width="70" id="6h"></td>
      </tr>

      <tr>
        <td class="text-center text-secondary pr-2">5</td>
        <td class="bg-secondary cell" height="70" width="70" id="5a"></td>
        <td class="bg-info cell" height="70" width="70" id="5b"></td>
        <td class="bg-secondary cell" height="70" width="70" id="5c"></td>
        <td class="bg-info cell" height="70" width="70" id="5d"></td>
        <td class="bg-secondary cell" height="70" width="70" id="5e"></td>
        <td class="bg-info cell" height="70" width="70" id="5f"></td>
        <td class="bg-secondary cell" height="70" width="70" id="5g"></td>
        <td class="bg-info cell" height="70" width="70" id="5h"></td>
      </tr>


      <tr>
        <td class="text-center text-secondary pr-2">4</td>
        <td class="bg-info cell" height="70" width="70" id="4a"></td>
        <td class="bg-secondary cell" height="70" width="70" id="4b"></td>
        <td class="bg-info cell" height="70" width="70" id="4c"></td>
        <td class="bg-secondary cell" height="70" width="70" id="4d"></td>
        <td class="bg-info cell" height="70" width="70" id="4e"></td>
        <td class="bg-secondary cell" height="70" width="70" id="4f"></td>
        <td class="bg-info cell" height="70" width="70" id="4g"></td>
        <td class="bg-secondary cell" height="70" width="70" id="4h"></td>
      </tr>

      <tr>
        <td class="text-center text-secondary pr-2">3</td>
        <td class="bg-secondary cell" height="70" width="70" id="3a"></td>
        <td class="bg-info cell" height="70" width="70" id="3b"></td>
        <td class="bg-secondary cell" height="70" width="70" id="3c"></td>
        <td class="bg-info cell" height="70" width="70" id="3d"></td>
        <td class="bg-secondary cell" height="70" width="70" id="3e"></td>
        <td class="bg-info cell" height="70" width="70" id="3f"></td>
        <td class="bg-secondary cell" height="70" width="70" id="3g"></td>
        <td class="bg-info cell" height="70" width="70" id="3h"></td>
      </tr>

      <tr>
        <td class="text-center text-secondary pr-2">2</td>
        <td class="bg-info cell white-pawn" height="70" width="70" id="2a"></td>
        <td class="bg-secondary cell white-pawn" height="70" width="70" id="2b"></td>
        <td class="bg-info cell white-pawn" height="70" width="70" id="2c"></td>
        <td class="bg-secondary cell white-pawn" height="70" width="70" id="2d"></td>
        <td class="bg-info cell white-pawn" height="70" width="70" id="2e"></td>
        <td class="bg-secondary cell white-pawn" height="70" width="70" id="2f"></td>
        <td class="bg-info cell white-pawn" height="70" width="70" id="2g"></td>
        <td class="bg-secondary cell white-pawn" height="70" width="70" id="2h"></td>
      </tr>

      <tr>
        <td class="text-center text-secondary pr-2">1</td>
        <td class="bg-secondary cell white-rook" height="70" width="70" id="1a"></td>
        <td class="bg-info cell white-bishop" height="70" width="70" id="1b"></td>
        <td class="bg-secondary cell white-horse" height="70" width="70" id="1c"></td>
        <td class="bg-info cell white-queen" height="70" width="70" id="1d"></td>
        <td class="bg-secondary cell white-king" height="70" width="70" id="1e"></td>
        <td class="bg-info cell white-bishop" height="70" width="70" id="1f"></td>
        <td class="bg-secondary cell white-horse" height="70" width="70" id="1g"></td>
        <td class="bg-info cell white-rook" height="70" width="70" id="1h"></td>
      </tr>

      <tr>
        <td class="text-center text-secondary"></td>
        <td class="text-center text-secondary">a</td>
        <td class="text-center text-secondary">b</td>
        <td class="text-center text-secondary">c</td>
        <td class="text-center text-secondary">d</td>
        <td class="text-center text-secondary">e</td>
        <td class="text-center text-secondary">f</td>
        <td class="text-center text-secondary">g</td>
        <td class="text-center text-secondary">h</td>
      </tr>


    </table>

  </div>
  <div class="col-2"></div>
</div>

<%= javascript_include_tag 'game' %>
